+comment('general style')
+ic
+comment("home page style")
.content
  text-align: center
  &__box
    width: 100px
    height: 100px
    display: inline-block
    background-color: green
.hero
  &__name
    color: blue   
  &__naming
    display: inline-block
    margin-left: 25px  
  &__attack
    color: green  
    display: inline-block
    margin-left: 15px
  &__image  
    width: 60px
    height: 34px 
  &__link
    display: inline-block 
    cursor: pointer 
.category
  &__heading
    text-align: center
    margin-bottom: 30px